@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .heart-icon {
    cursor: pointer;
    overflow: visible;
    width: 80px;
    height: 80px;
  }

  .heart-icon #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }

  .heart-icon #main-circ {
    transform-origin: 29.5px 29.5px;
  }

  .input-checkbox:checked + label .heart-icon #heart {
    transform: scale(0.2);
    fill: red;
    animation: animateHeart 0.3s linear forwards 0.25s;
  }

  .input-checkbox:checked + label .heart-icon #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }

  /* Animation styles for grp1 */
  .input-checkbox:checked + label .heart-icon #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp2 */
  .input-checkbox:checked + label .heart-icon #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp3 */
  .input-checkbox:checked + label .heart-icon #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp4 */
  .input-checkbox:checked + label .heart-icon #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp5 */
  .input-checkbox:checked + label .heart-icon #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp6 */
  .input-checkbox:checked + label .heart-icon #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }

  /* Animation styles for grp7 */
  .input-checkbox:checked + label .heart-icon #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  .input-checkbox:checked + label .heart-icon #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
}
